<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bot.Builder.Community.Adapters.Infobip" version="4.9.8" targetFramework="net452" />
  <package id="CodingUpAStorm.VaderSharp" version="1.0.4" targetFramework="net452" />
  <package id="Microsoft.Bot.Builder" version="4.13.1" targetFramework="net452" />
  <package id="Microsoft.Extensions.ML" version="1.5.5" targetFramework="net452" />
  <package id="Microsoft.ML" version="1.5.5" targetFramework="net452" />
  <package id="Microsoft.ML.AutoML" version="0.17.5" targetFramework="net452" />
  <package id="Microsoft.ML.CpuMath" version="1.5.5" targetFramework="net452" />
  <package id="Microsoft.ML.EntryPoints" version="0.17.5" targetFramework="net452" />
  <package id="Microsoft.ML.FastTree" version="1.5.5" targetFramework="net452" />
  <package id="Microsoft.ML.StaticPipe" version="0.14.0" targetFramework="net452" />
  <package id="Microsoft.ML.TensorFlow" version="1.5.5" targetFramework="net452" />
  <package id="Paystack.Net" version="0.7.7" targetFramework="net452" />
  <package id="Syn.Bot" version="4.5.1" targetFramework="net452" />
  <package id="Syn.Bot.Channels" version="2.0.0" targetFramework="net452" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net452" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net452" />
</packages>